@{
    ViewBag.Title = "PerfilAdministrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Titulo{
    Perfil Administrador
}

<div class="container" id="contenedorDatos">

</div>

@section scripts{

    <script src="~/Scripts/PerfilAdministrador/PerfilAdministrador.js"></script>
    <script src="~/Scripts/PerfilAdministrador/Validaciones.js"></script>

}