@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Titulo{
    <a class="navbar-brand"><b>Reportes <i class="ti-bar-chart"></i></b></a>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Productos más vendidos</h4>
                <p class="card-category">Lista de productos más cotizados de esta temporada.</p>
                <div class="alert alert-danger text-center" id="Error" hidden></div>
                <div class="alert alert-info text-center" id="Advertencia" hidden></div>
                <div class="chartdiv" id="ProductosVendidos"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clientes Destacados</h4>
                <p class="card-category">Lista de clientes con más compras realizadas.</p>
                <div class="alert alert-danger text-center" id="Error2" hidden></div>
                <div class="alert alert-info text-center" id="Advertencia2" hidden></div>
                <div class="amchartdiv2" id="ClientesCompras"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Categoría de productos</h4>
                <p class="card-category">Cantidad total de productos en existencia.</p>
                <div class="alert alert-danger text-center" id="Error3" hidden></div>
                <div class="alert alert-info text-center" id="Advertencia3" hidden></div>
                <div class="amchartdiv" id="CategoriasProductos"></div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/amcharts4/core.js"></script>
    <script src="~/assets/amcharts4/charts.js"></script>
    <script src="~/assets/amcharts4/themes/animated.js"></script>
    <script src="~/Assets/amcharts4/themes/frozen.js"></script>
    <script src="~/Assets/amcharts4/themes/material.js"></script>
    <script src="~/assets/amcharts4/lang/es_ES.js"></script>
    <script src="~/Scripts/Reportes/GraficaProductosVendidos.js"></script>
    <script src="~/Scripts/Reportes/GraficaClientesCompras.js"></script>
    <script src="~/Scripts/Reportes/GraficaCategoria.js"></script>
    <script src="~/Scripts/Reportes/Utileria.js"></script>
    <script src="~/Scripts/Reportes/Grafica.js"></script>


}
