
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login/Register</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Login/Register</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================ Area del Login =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/Assets/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>¿Eres nuevo?</h4>
                        <p>Quédate con nosotros y descubre una gran variedad de productos que te pueden interesar</p>
                        <a class="primary-btn" href="@Url.Action("Registro", "Inicio")">Crear una cuenta</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Inicio de sesión</h3>
                    <form class="row login_form" id="loginForm" novalidate="novalidate">
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" id="cCorreo" name="cCorreo" placeholder="Correo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="cContrasenia" name="cContrasenia" placeholder="Contraseña" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button id="btnLogin" class="primary-btn">Iniciar sesión</button>
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Fin de Area del Login =================-->

<!--================ Sección de scripts =================-->
@section scripts{
    <script src="~/Scripts/Inicio/ValidarRegistro.js"></script>
    <script src="~/Scripts/Inicio/Sesion.js"></script>
}
<!--================ Fin de Sección de scripts =================-->
