.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}
.card-header:first-child {
    border-bottom: none;
    background-color: #e5ecee;
    border-radius: 0;
}

.order_box {
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1);
}

.product_count button:disabled:hover {
    color: #cccccc;
}