
@{
    ViewBag.Title = "ImportarProducto";
    Layout = "~/Views/Shared/_Modal.cshtml";
}

@section header{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@section Titulo{
    <h5 class="modal-title" id="tituloModalImportar">ImportarProducto</h5>
}
<div class="modal-body">
    <p>Lorem Ipsum Modal Importar</p>
</div>
@section footer{
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary">Importar</button>
}
