@model IEnumerable<Changarro.Model.tblCat_Categoria>

@foreach (var item in Model)
{
<li class="main-nav-list">
    <a href="@Url.Action("VerProductosPorCategoria","Producto", new { iIdCategoria = item.iIdCategoria })">@item.cNombre</a>
</li>
}
