@model IEnumerable<Changarro.Model.DTO.CatalogoProductosDTO>
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="slider">
            <ul>
                <li>
                    <img src="~/Assets/img/banner/changarro-banner.png" style="width:1000px;height:300px;" />
                </li>
                <li>
                    <img src="~/Assets/img/banner/changarro-banner2.png" style="width:1000px;height:300px;" />
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Envió Gratis</h6>
                    <p>Envio gratis en cualquier producto</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Garantía</h6>
                    <p>Toda compra garantizada</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Soporte 24/7</h6>
                    <p>Servicio al cliente todo el día</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/Assets/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Seguridad en el pago</h6>
                    <p>Tus pagos son asegurados</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->
<!--seccion productos-->
<section class="lattest-product-area pb-40 category-list">
    <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <div class="section-title">
                <h1>Productos Recientes</h1>
                <p>
                    Los últimos productos traídos al changarro para la comodidad del cliente.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <!-- single product -->
            <div class="col-lg-4 col-md-6">
                <div class="single-product">
                    <img class="img-fluid" src="@item.cImagen" alt="" style="width:180px;height:180px;">
                    <div class="product-details">
                        <h6>
                            @item.cNombre
                        </h6>
                        <div class="price">
                            <h6>@item.dPrecio</h6>
                        </div>
                        <div class="prd-bottom">
                            @Html.Hidden("iIdProducto", item.iIdProducto)

                            <a class="social-info btnComprarAhora" href="#">
                                <span class="ti-money"></span>
                                <p class="hover-text">Comprar</p>
                            </a>
                            <a class="social-info btnAgregarCarrito" href="#">
                                <span class="ti-bag"></span>
                                <p class="hover-text">Agregar</p>
                            </a>
                            <a class="social-info btnVerDetalles" href="#">
                                <span class="ti-eye"></span>
                                <p class="hover-text">Ver más</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<br />

@section scripts{
    <script src="~/Scripts/Utileria.js"></script>
    <script src="~/Scripts/Inicio/Inicio.js"></script>
}