@model IEnumerable<Changarro.Model.tblCat_Categoria>

@foreach (var item in Model)
{
    <li class="nav-item">
        <a class="nav-link linkCategoria" href="@Url.Action("VerProductosPorCategoria","Producto", new { iIdCategoria = item.iIdCategoria, iPagina = 1 })">@item.cNombre</a>
    </li>
}
