@model Changarro.Model.DTO.ClienteDTO

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/cropper.min.css" rel="stylesheet" />
    <link href="~/Assets/css/dropzone.css" rel="stylesheet" />
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Mis Perfil</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="blog_right_sidebar">
                <div class="single_sidebar_widget author_widget">
                    <a href="#">
                        <img id="btnCambiarImagen" alt="" class="author_img rounded-circle" src="@Html.DisplayFor(model => model.cImagen)" />
                    </a>                    
                    <h4>@Html.DisplayFor(model => model.cNombre)</h4>
                    <p id="cCorreoPerfil">@Html.DisplayFor(model => model.cCorreo)</p>     
                    <br>
                    <div class="sidebar-categories">
                        <ul class="main-categories nav flex-column">
                            <li class="main-nav-list">
                                <a class="nav-link active carga" id="v-pills-datos-tab" data-toggle="pill" href="#v-pills-datos" role="tab" aria-controls="v-pills-datos" aria-selected="true">Mis Datos</a>
                            </li>
                            <li class="main-nav-list">
                                <a class="nav-link carga" id="v-pills-direcciones-tab" data-toggle="pill" href="#v-pills-direcciones" role="tab" aria-controls="v-pills-direcciones" aria-selected="false">Mis Direcciones</a>
                            </li>
                            <li class="main-nav-list">
                                <a class="nav-link carga" id="v-pills-tarjetas-tab" data-toggle="pill" href="#v-pills-tarjetas" role="tab" aria-controls="v-pills-targetas" aria-selected="false">Mis Tarjetas</a>
                            </li>
                            <li class="main-nav-list">
                                <a class="nav-link carga" id="v-pills-historial-tab" data-toggle="pill" href="#v-pills-historial" role="tab" aria-controls="v-pills-historial" aria-selected="false">Historial de compras</a>
                            </li>
                        </ul>
                    </div>
                    <div class="br"></div>
                    <a href="#" data-toggle="modal" data-target="#exampleModal" id="btnCancelarCuenta" style="color: #5b6d71;">Cancelar Suscripción</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 ">
            <div class="tab-content blog_right_sidebar" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-datos" role="tabpanel" aria-labelledby="v-pills-datos-tab">

                </div>
                <div class="tab-pane fade" id="v-pills-direcciones" role="tabpanel" aria-labelledby="v-pills-direcciones-tab">

                </div>
                <div class="tab-pane fade" id="v-pills-tarjetas" role="tabpanel" aria-labelledby="v-pills-tarjetas-tab">

                </div>
                <div class="tab-pane fade" id="v-pills-historial" role="tabpanel" aria-labelledby="v-pills-historial-tab">

                </div>
            </div>
            <br>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/dropzone.js"></script>
    <script src="~/Assets/js/cropper.min.js"></script>
    <script src="~/Scripts/Perfil/Perfil.js"></script>
    <script src="~/Scripts/Perfil/MisDatos.js"></script>
    <script src="~/Scripts/Perfil/Domicilios.js"></script>
    <script src="~/Scripts/Perfil/Tarjetas.js"></script>
    <script src="~/Scripts/Perfil/ImagenPerfil.js"></script>
    <script src="~/Scripts/Perfil/CancelarSuscripcion.js"></script>
}