
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section titulo{
    Datos del perfil
}


<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="container">
                <div class="form-group">
                    <label class="bmd-label-floating">Dueño de CHANGARRO.COM</label>
                </div>
                <br />
                <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                    <div class="form-group col-md-6">
                        <label for="nombrecliente">Nombre(S)</label>
                        <input type="text" class="form-control" id="nombrecliente" name="nombrecliente" value="" placeholder="Nombre" pattern="[A-Za-z0-9\w]{4,20}" required="required">
                        <div class="invalid-feedback" id="error"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellidocliente">Apellidos(S)</label>
                        <input type="text" class="form-control" id="apellidocliente" name="apellidocliente" value="" placeholder="apellido" pattern="[A-Za-z0-9\w]{4,20}" required="required">
                        <div class="invalid-feedback" id="error"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="correocliente">Correo Electrónico</label>
                        <input type="text" class="form-control" id="correocliente" name="correocliente" value="" placeholder="Correo" pattern="[A-Za-z0-9\w]{4,20}" required="required">
                        <div class="invalid-feedback" id="error"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="telefonocliente">Teléfono</label>
                        <input type="text" class="form-control" maxlength="10" minlength="10" id="telefonocliente" name="telefonocliente" placeholder="9999999999">
                        <div class="invalid-feedback" id="error"></div>
                    </div>
                    <div class="br col-md-12 text-right">
                        <button type="button" class="btn btn-success">
                            Editar perfil.
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="../assets/img/faces/marc.jpg" />
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">Alvin</h6>
                <h4 class="card-title">Yaki Tori</h4>
            </div>
        </div>
    </div>
</div>