<div class="modal-dialog" role="document">
    <div class="modal-content">
        @RenderSection("header", required: false)
        <div class="modal-body">
            @RenderBody()
        </div>
        @RenderSection("footer", required: false)
    </div>
</div>

