@if (ViewBag.lValidarCompraDirecta != true)
{
    @model IEnumerable<Changarro.Model.DTO.ProductosCompraDTO>
}

@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/compra.css" rel="stylesheet" />
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Compra</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Casa<span class="ti-arrow-right"></span></a>
                    <a href="single-product.html">Compra</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="checkout_area">
    <div class="container">
        <div class="billing_details">
            <div class="row-product">

                <!--------Seccion domicilio-->
                <div class="col-lg-8">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h4 class="mb-0">
                                    Seleccione domicilio de entrega
                                    <i style="float:right;" class="ti-home"></i>
                                </h4>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div style="float:right;">
                                        <a href="#" id="btnAgregarDomicilio">Agregar Domicilio</a>
                                    </div>
                                    <table class="table">
                                        <tbody id="body-domicilio">
                                            @{
                                                Html.RenderAction("SeleccionDomicilio", "Compra");
                                            }
                                        </tbody>
                                        <tfoot id="salto-1"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h4 class="mb-0">
                                    Seleccione tarjeta de pago
                                    <a class="ti-credit-card" aria-expanded="true" aria-controls="collapseTwo" style="float:right;">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div style="float:right;">
                                        <a href="#" id="btnAgregarTarjeta">Agregar Tarjeta</a>
                                    </div>
                                    <table class="table">
                                        <tbody id="body-tarjeta">
                                            @{
                                                Html.RenderAction("SeleccionTarjeta", "Compra");
                                            }
                                        </tbody>
                                        <tfoot id="salto-2"></tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h4 class="mb-0">
                                    Revisar compra
                                    <a id="flecha3" class="ti-bag" aria-expanded="true" aria-controls="collapseThree" style="float:right;">
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="cart_inner">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Producto</th>
                                                        <th scope="col">Cantidad</th>
                                                        <th scope="col">Precio</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (ViewBag.lValidarCompraDirecta != true)
                                                    {
                                                        foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <div class="media">
                                                                        <div class="d-flex">
                                                                            <img src="@item.cImagen" alt="">
                                                                        </div>
                                                                        <div class="media-body">
                                                                            <p>@item.cNombre</p>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <h5>@item.iCantidadSeleccion</h5>
                                                                </td>
                                                                <td>
                                                                    <h5>$@item.dPrecioTotal</h5>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        Html.RenderAction("CargarProductoUnico", "Compra");
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!----------Seccion sticky resumen -------->
                <div class="col-12 col-lg-4">
                    <div class="order_box sticky-top-xd">
                        <ul class="list list_2">
                            <li><a href="#">Subtotal (@ViewBag.iTotalProductos artículos) <span>$@ViewBag.dSubTotalPrecio</span></a></li>
                            <li><a href="#">Envió <span>$50.00</span></a></li>
                            <li><a href="#">Total <span>$@ViewBag.dTotalPrecio</span></a></li>
                        </ul>
                        <div class="creat_account">
                            <input type="checkbox" id="checkTerminos" name="checkTerminos">
                            <label for="f-option4">He leído y acepto los</label>
                            <a href="#" id="terms">términos y condiciones*</a>
                        </div>
                        <a id="btnPago" class="primary-btn">Método de Pago</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Perfil/Domicilios.js"></script>
    <script src="~/Scripts/Perfil/Tarjetas.js"></script>
    <script src="~/Scripts/Compra/compra.js"></script>
}