@model IEnumerable<Changarro.Model.DTO.CategoriasDTO>
@{
    Layout = "~/Views/Shared/_ModalCat.cshtml";
}

@section header{
    <h3>    Categorías</h3>
}
<div class="container">
    <div class="row">
        <div class="col-md-3 card">
            <div class="tab-pane fade show active" id="detallesPanel" role="tabpanel">
                <form class="row contact_form" action="#" method="post" novalidate="novalidate" id="forcat">
                    <div class="form-group p_star">
                        <label for="cNombre">Nombre de la categoría</label>
                        <input type="text" class="form-control" id="cNombre" placeholder="Nombre de la categoría" name="cNombre" required>
                    </div>
                </form>
                <button id="btnGuardarCat" type="button" class="btn btn-primary">Guardar</button>
                <button id="btnEstatus" type="button" class="btn btn-danger"></button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="table-responsive">
                <table class="table table-striped " id="tblCategoria" style="width:99%;">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Estatus</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>